doctype html
html
  head
    title=health
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="http://g.alicdn.com/dingding/open-develop/1.9.0/dingtalk.js")
    script(src="./javascripts/title.js")
  body
    block content
